<footer class="footer bg-dark py-2 mt-auto">
    <div class="container  w-100 text-center text-light ">
        <div>YelpCamp 2026 &COPY; Made in Los Angeles by Bryan Ayala </div>

    </div>
</footer>