<link rel="stylesheet" href="/css/google-button.css">
<div class="google-btn-container">
    <a href="/auth/google" class="google-btn">
        <div class="google-icon-wrapper">
            <img class="google-icon" src="/img/Google__G__logo.svg" />
        </div>
        <p class="btn-text"><b>Sign in with Google</b></p>
    </a>
</div>