<div id="pagination-container" class="d-flex justify-content-center align-items-center mb-3 d-none">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item"><button class="page-link page-btn">First</button></li>
            <li class="page-item">
                <button class="page-link page-btn" aria-label="Previous"><span
                        aria-hidden="true">&laquo;</span></button>
            </li>
            <li class="page-item"><button class="page-link page-btn">1</button></li>
            <li class="page-item"><button class="page-link page-btn">2</button></li>
            <li class="page-item"><button class="page-link page-btn active">3</button></li>
            <li class="page-item"><button class="page-link page-btn">4</button></li>
            <li class="page-item"><button class="page-link page-btn">5</button></li>
            <li class="page-item">
                <button class="page-link page-btn" aria-label="Next"><span aria-hidden="true">&raquo;</span></button>
            </li>
            <li class="page-item"><button class="page-link page-btn">Last</button></li>
        </ul>
    </nav>
</div>