CLOUDINARY_CLOUD_NAME='YOUR CLOUDINARY CLOUD_NAME'
CLOUDINARY_API_KEY='YOUR CLOUDINARY API KEY'
CLOUDINARY_API_SECRET='YOUR CLOUDINARY API SECRET'
SESSION_SECRET='YOUR SESSION SECRET'
MAPBOX_TOKEN_PUBLIC_CLIENT='YOUR PUBLIC MAPBOX TOKEN [NEEDS TO BE URL RESTRICTED BECAUSE THIS RUNS ON THE CLIENT BROWSER]'
MAPBOX_TOKEN_PRIVATE_SERVER='YOUR PRIVATE MAPBOX TOKEN [NEEDS TO BE UNRESTRICTED TO URLS BECAUSE THIS RUNS ON THE SERVER]'
GOOGLE_CLIENT_SECRET='YOUR GOOGLE CLIENT SECRET'
GOOGLE_CLIENT_ID='YOUR GOOGLE CLIENT ID'
RESEND_API_KEY='YOUR RESEND API KEY'
MONGO_DB_ATLAS_URL='YOUR MONGODB ATLAS URL'