<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp - About</title>
    <meta name="description"
        content="About page related to the completed YelpCamp Project. Tech stacks included Express, MongoDB, NodeJS, EJS. Features include authentication, CRUD, GeoMapping, and image uploads.">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/aboutpage.css">
</head>

<body class="aboutpage-body text-white pb-0">
    <div class=" d-flex w-100 min-vh-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                <h1 class="mb-3 mb-md-0 fw-bold">YelpCamp</h1>

                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link active" aria-current="page" href="/about">About</a>
                    <a class="nav-link" href="/campgrounds">Campgrounds</a>

                    <% if (!currentUser) { %>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/register">Register</a>
                        <% } else { %>
                            <a class="nav-link" href="/logout">Logout</a>
                            <% } %>
                </nav>
            </div>
        </header>

        <main class="hero-content text-center p-1 py-5 p-md-5">
            <div class="container">
                <div class="row justify-content-center indent-paragraphs">
                    <div class="col col-md-10">
                        <h1 class="display-5 fw-bold mb-4">About the YelpCamp Project</h1>
                        <p class="lead text-start">
                            Welcome! This is a completed YelpCamp project following the Web Development Bootcamp course
                            by Colt Steele on Udemy. YelpCamp is a basic "Yelp clone" project where users can create
                            campground pages, browse campgrounds, and review them. This is a full-stack web application
                            project which teaches you how to create RESTful routes, implement CRUD resources, how to
                            leverage third-party libraries, and how to implement good security practices.
                        </p>
                        <p class="lead mb-5 text-start">

                            I took a detour at the end of the course to add my own features to improve my web
                            development chops. The features that I added by myself include: authentication via Google
                            OAuth, a password reset system, an account email verification system, asynchronous
                            pagination of the campground index page, asynchronous pagination of campground review
                            comments, a campground search feature, and basic SEO improvements. These were no small feats
                            to implement on my own and all these features took a good amount of research! You can read
                            more about the challenges of implementing these features at the end of the page.
                        </p>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="container mb-4">
                        <h4 class="fw-bold">Core Features</h4>
                        <ul class="list-unstyled text-white-75">
                            <li> Secure Authentication (Local + Google OAuth)</li>
                            <li> Email Verification System</li>
                            <li> Password Recovery System</li>
                            <li> Async Pagination for Campgrounds & Reviews</li>
                            <li> Image and File Management via Cloudinary</li>
                            <li> Responsive and Mobile-First UI</li>
                            <li> Interactive MapBox Geomapping</li>
                            <li> Configurable Server Settings File</li>
                            <li> Basic SEO implementations</li>
                        </ul>
                    </div>
                    <div class="container mb-4">
                        <h4 class="fw-bold mb-4">Technical Stack & Integrations</h4>
                        <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
                            <div class="col">
                                <div class="card bg-dark text-white border-secondary h-100 p-3">
                                    <div class="row skills-container justify-content-center">
                                        <div class="skill-box mx-3 mb-3" title="Express">


                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 600 600">
                                                <path fill="white"
                                                    d="M3.9 348.6v-66.8h83.4V278H3.9v-61h88.6v-3.9H0v139.4h93.3v-3.9zm164.6-96.4-34.6 45.5-33.7-45.5H95l36.5 48.4-40 52h4.7l37.6-49 38 49h4.8l-40.2-52 36.7-48.4zm20 134.7v-62.5h.3a40 40 0 0 0 13.9 22 41 41 0 0 0 26.3 8.3 39 39 0 0 0 31.8-15.6 53 53 0 0 0 8.2-16.8q2.8-9.6 2.8-20.2 0-11.3-3-20.8a50 50 0 0 0-8.4-16.6 39 39 0 0 0-31.4-14.9q-7.6 0-14.1 2.3a38 38 0 0 0-11.6 6.3 43 43 0 0 0-14.5 21.9h-.4v-28.1h-3.9v134.7zm40.5-36q-18.3 0-29.5-12.5-11-12.6-11-36.3a62 62 0 0 1 2.6-18.5 48 48 0 0 1 8-15.4 37 37 0 0 1 30-14.4q9.6 0 17 3.8 7.4 4 12.1 10.7 4.8 6.7 7.2 15.4a68 68 0 0 1 .2 36 50 50 0 0 1-6.9 15.5A34 34 0 0 1 229 351m64.3 1.6v-56.8q0-8.2 2.3-16 2.4-7.8 7.2-13.8 5-6 12.4-9.3 7.5-3.5 17.9-2.9v-3.9q-9-.2-15.7 2a38 38 0 0 0-11.6 5.8 30 30 0 0 0-7.9 8.7q-2.8 5-4.2 10.7h-.4v-24.8h-4v100.3zm44.7-49.4h84q.3-10.3-2.1-19.9t-7.8-17a40 40 0 0 0-34.1-16.4 40 40 0 0 0-30.5 13.8 52 52 0 0 0-9.7 16.5q-3.7 9.8-3.7 22.2 0 11.2 2.5 20.8 2.6 9.7 7.8 16.8t13.6 11a45 45 0 0 0 20 3.8q17.2 0 28.9-9.7a40 40 0 0 0 13.9-27.2h-4q-2.4 16.5-13 24.9-10.3 8.3-26.2 8.3-10.7 0-18.1-3.7T347.3 337a44 44 0 0 1-6.9-15.1q-2.2-8.7-2.4-18.9m80-3.9h-80q.6-10.5 3.9-19a47 47 0 0 1 8.7-14.3 36 36 0 0 1 27.8-12.2q9.7 0 17.2 3.6t12.4 9.9 7.5 14.5a59 59 0 0 1 2.5 17.5m85-17.4h3.9q0-16.8-9.8-24.4t-26.6-7.6q-9.3 0-15.8 2.4a32 32 0 0 0-10.5 6 22 22 0 0 0-5.9 8.2q-1.7 4.5-1.7 8.6 0 8.2 2.9 13 3 5 9.2 7.7 4.3 2 9.7 3.5 5.6 1.6 12.7 3.3l12.7 3.2q6.3 1.5 11 4.2 4.8 2.6 7.9 6.7 3 4 3 10.7 0 6.5-3 11t-7.7 7.3a34 34 0 0 1-10.5 4q-5.7 1.4-11.2 1.4-17.8 0-27.3-8-9.4-7.8-9.4-24.8h-4q0 18.9 10.3 27.7t30.4 8.8q6.4 0 13-1.5a36 36 0 0 0 11.7-4.8q5.1-3.2 8.4-8.6 3.2-5.2 3.2-12.9 0-7.2-2.8-11.7-3-4.4-7.5-7.4t-10.3-4.6a598 598 0 0 0-26-7q-6-1.5-11.4-3.6-5-2.2-8-6.2-3.1-3.9-3.1-11.4 0-1.3.8-4.9.7-3.5 3.7-7.1t9-6.4q6-3 16.6-2.9 7.2 0 13.1 1.6 6 1.5 10.3 5 4.2 3.3 6.6 8.7t2.4 12.8m90.4 0h3.9q0-16.8-9.8-24.4a42 42 0 0 0-26.5-7.6q-9.5 0-15.9 2.4a32 32 0 0 0-10.5 6 22 22 0 0 0-5.9 8.2Q527 271 527 275q0 8.2 3 13 3 5 9 7.7 4.5 2 9.8 3.5 5.6 1.6 12.7 3.3l12.7 3.2q6.3 1.5 11 4.2 4.8 2.6 7.9 6.7 3 4 3 10.7 0 6.5-3 11t-7.7 7.3a34 34 0 0 1-10.5 4q-5.7 1.4-11.2 1.4-17.9 0-27.3-8-9.4-7.8-9.4-24.8h-4q0 18.9 10.3 27.7t30.4 8.8q6.4 0 13-1.5t11.7-4.8q5.1-3.2 8.4-8.6 3.2-5.2 3.2-12.9 0-7.2-2.8-11.7-3-4.4-7.5-7.4t-10.3-4.6a598 598 0 0 0-26-7q-6-1.5-11.4-3.6-5-2.2-8-6.2-3.1-3.9-3.1-11.4 0-1.3.8-4.9.7-3.5 3.7-7.1t9-6.4q6-3 16.6-2.9 7.2 0 13.1 1.6 6 1.5 10.3 5 4.2 3.3 6.6 8.7t2.4 12.8" />
                                            </svg>
                                        </div>
                                        <div class="skill-box mx-3 mb-3" title="Node JS">

                                            <svg viewBox="0 -183.5 512 512" xmlns="http://www.w3.org/2000/svg"
                                                preserveAspectRatio="xMinYMin meet">

                                                <g fill="#83CD29">

                                                    <path
                                                        d="M471.05 51.611c-1.244 0-2.454.257-3.525.863l-33.888 19.57c-2.193 1.264-3.526 3.65-3.526 6.189v39.069c0 2.537 1.333 4.92 3.526 6.187l8.85 5.109c4.3 2.119 5.885 2.086 7.842 2.086 6.366 0 10.001-3.863 10.001-10.576V81.542c0-.545-.472-.935-1.007-.935h-4.245c-.544 0-1.007.39-1.007.935v38.566c0 2.975-3.1 5.968-8.13 3.453l-9.21-5.396c-.326-.177-.576-.49-.576-.863v-39.07c0-.37.247-.747.576-.935L470.547 57.8a.998.998 0 0 1 1.007 0l33.817 19.498c.322.194.576.553.576.936v39.069c0 .373-.188.755-.504.935l-33.889 19.498c-.29.173-.69.173-1.007 0l-8.706-5.18a.905.905 0 0 0-.863 0c-2.403 1.362-2.855 1.52-5.109 2.302-.555.194-1.398.495.288 1.44l11.368 6.69a6.995 6.995 0 0 0 3.526.936 6.949 6.949 0 0 0 3.525-.935l33.889-19.499c2.193-1.275 3.525-3.65 3.525-6.187v-39.07c0-2.538-1.332-4.92-3.525-6.187l-33.889-19.57c-1.062-.607-2.28-.864-3.525-.864z" />

                                                    <path
                                                        d="M480.116 79.528c-9.65 0-15.397 4.107-15.397 10.937 0 7.408 5.704 9.444 14.966 10.36 11.08 1.085 11.943 2.712 11.943 4.893 0 3.783-3.016 5.396-10.144 5.396-8.957 0-10.925-2.236-11.584-6.691-.078-.478-.447-.864-.936-.864h-4.389c-.54 0-1.007.466-1.007 1.008 0 5.703 3.102 12.447 17.916 12.447 10.723 0 16.908-4.209 16.908-11.584 0-7.31-4.996-9.273-15.398-10.648-10.51-1.391-11.512-2.072-11.512-4.533 0-2.032.85-4.75 8.634-4.75 6.954 0 9.524 1.5 10.577 6.189.092.44.48.791.935.791h4.39c.27 0 .532-.166.719-.36.184-.207.314-.44.288-.719-.68-8.074-6.064-11.872-16.909-11.872z" />

                                                </g>

                                                <path
                                                    d="M271.821.383a2.181 2.181 0 0 0-1.08.287 2.18 2.18 0 0 0-1.079 1.871v55.042c0 .54-.251 1.024-.719 1.295a1.501 1.501 0 0 1-1.511 0l-8.994-5.18a4.31 4.31 0 0 0-4.317 0l-35.903 20.721c-1.342.775-2.158 2.264-2.158 3.814v41.443c0 1.548.817 2.966 2.158 3.741l35.903 20.722a4.3 4.3 0 0 0 4.317 0l35.903-20.722a4.308 4.308 0 0 0 2.159-3.741V16.356a4.386 4.386 0 0 0-2.23-3.814L272.9.598c-.335-.187-.707-.22-1.079-.215zM40.861 52.115c-.684.027-1.328.147-1.942.503L3.015 73.34a4.3 4.3 0 0 0-2.158 3.741L.929 132.7c0 .773.399 1.492 1.079 1.87a2.096 2.096 0 0 0 2.159 0l21.297-12.231c1.349-.802 2.23-2.196 2.23-3.742V92.623c0-1.55.815-2.972 2.159-3.742l9.065-5.252a4.251 4.251 0 0 1 2.159-.576c.74 0 1.5.185 2.158.576l9.066 5.252a4.296 4.296 0 0 1 2.159 3.742v25.973c0 1.546.89 2.95 2.23 3.742l21.297 12.232a2.096 2.096 0 0 0 2.159 0 2.164 2.164 0 0 0 1.08-1.871l.07-55.618a4.28 4.28 0 0 0-2.158-3.741L43.235 52.618c-.607-.356-1.253-.475-1.942-.503h-.432zm322.624.503c-.75 0-1.485.19-2.158.576l-35.903 20.722a4.306 4.306 0 0 0-2.159 3.741V119.1c0 1.559.878 2.971 2.23 3.742l35.616 20.29c1.315.75 2.921.807 4.245.07l21.585-12.015c.685-.38 1.148-1.09 1.151-1.87a2.126 2.126 0 0 0-1.079-1.871l-36.119-20.722c-.676-.386-1.151-1.167-1.151-1.943v-12.95c0-.775.48-1.485 1.151-1.871l11.224-6.476a2.155 2.155 0 0 1 2.159 0L375.5 89.96a2.152 2.152 0 0 1 1.08 1.87v10.217a2.15 2.15 0 0 0 1.079 1.87c.673.389 1.487.39 2.158 0L401.331 91.4a4.325 4.325 0 0 0 2.159-3.742v-10c0-1.545-.82-2.966-2.159-3.742l-35.687-20.722a4.279 4.279 0 0 0-2.159-.575zm-107.35 30.939c.188 0 .408.046.576.143l12.304 7.123c.334.193.576.55.576.935v14.246c0 .387-.24.743-.576.936l-12.304 7.123a1.088 1.088 0 0 1-1.079 0l-12.303-7.123c-.335-.194-.576-.549-.576-.936V91.758c0-.386.242-.74.576-.935l12.303-7.122a.948.948 0 0 1 .504-.143v-.001z"
                                                    fill="#404137" />

                                                <path
                                                    d="M148.714 52.402c-.748 0-1.488.19-2.158.576l-35.903 20.65c-1.343.773-2.159 2.265-2.159 3.813v41.443c0 1.55.817 2.966 2.159 3.742l35.903 20.721a4.297 4.297 0 0 0 4.317 0l35.903-20.721a4.308 4.308 0 0 0 2.158-3.742V77.441c0-1.55-.816-3.04-2.158-3.813l-35.903-20.65a4.297 4.297 0 0 0-2.159-.576zM363.413 89.385c-.143 0-.302 0-.431.072l-6.907 4.029a.84.84 0 0 0-.432.72v7.914c0 .298.172.571.432.72l6.907 3.957c.259.15.535.15.791 0l6.907-3.958a.846.846 0 0 0 .432-.719v-7.915a.846.846 0 0 0-.432-.719l-6.907-4.03c-.128-.075-.216-.07-.36-.07z"
                                                    fill="#83CD29" />

                                            </svg>
                                        </div>
                                        <div class="skill-box mx-3 mb-3 p-3" title="Passport JS">

                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 500">
                                                <g fill="none" fill-rule="evenodd">
                                                    <path fill="#d6ff00"
                                                        d="M200 0C89.5 0 0 89.5 0 200h100c0-55.2 44.8-100 100-100z" />
                                                    <path fill="#34e27a"
                                                        d="M400 200C400 89.5 310.5 0 200 0v100c55.2 0 100 44.8 100 100z" />
                                                    <path fill="#00b9f1"
                                                        d="M200 400c110.5 0 200-89.5 200-200H300c0 55.2-44.8 100-100 100z" />
                                                    <path fill="#fff" d="M100 400V200H0v300h200V400z" />
                                                </g>
                                            </svg>

                                        </div>

                                    </div>
                                    <h5> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-terminal stack-icon" viewBox="0 0 16 16">
                                            <path
                                                d="M6 9a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3A.5.5 0 0 1 6 9M3.854 4.146a.5.5 0 1 0-.708.708L4.793 6.5 3.146 8.146a.5.5 0 1 0 .708.708l2-2a.5.5 0 0 0 0-.708z" />
                                            <path
                                                d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1z" />
                                        </svg> <i class="fas fa-server"></i> Backend & Logic</h5>
                                    <p class="text-white-50 small">
                                        <strong>Node.js & Express:</strong> Handles the RESTful API and
                                        server-side routing.
                                        <br>
                                        <strong>Passport.js:</strong> Manages secure sessions and Google OAuth2
                                        integration.
                                    </p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card bg-dark text-white border-secondary h-100 p-3">
                                    <div
                                        class="row skills-container justify-content-center flex-grow-1 align-items-center">
                                        <div class="skill-box mx-3 mb-3" title="MongoDB">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 600 600">
                                                <g clip-path="url(#devicon-mongodb-1-a)">
                                                    <path fill="#01EC64"
                                                        d="M46.5 237.7c-6-7.3-11.3-14.6-12.4-16.1h-.4a233 233 0 0 1-12.4 16 75 75 0 0 0 8.2 111.8l.5.3c.5 7 1.6 17 1.6 17h4.5s1.2-10 1.6-17l.5-.4s60.6-45 8.3-111.6M34 348.4s-2.7-2.4-3.5-3.5v-.2l3.3-72.6q.1-.3.3 0l3.3 72.6v.2a29 29 0 0 1-3.4 3.5" />
                                                    <path fill="white"
                                                        d="M147.2 333.5 121.9 272v-.1h-19.6v4h3.1a3.6 3.6 0 0 1 3.6 3.7l-.6 62c0 2-1.6 3.6-3.5 3.6h-3.2v4.2h19.1v-4.1h-2a3.7 3.7 0 0 1-3.5-3.7v-58.4l27.5 66.2q.7 1.5 2.3 1.5 1.7 0 2.4-1.5l26.8-64.7.4 57c0 2-1.6 3.5-3.5 3.6h-2v4h22.3v-4h-3c-2 0-3.5-1.7-3.6-3.6l-.2-62c0-2 1.6-3.6 3.5-3.7h3.3v-4.1h-19zM323 344.1q-1-1-1-2.5V311q0-8.7-5-13.6a19 19 0 0 0-13.9-4.8q-12.1 0-19 9.7l-.4.2q-.2 0-.2-.3l-2.1-8.1h-3.6l-9 5.2v2.8h2.4q1.6 0 2.6.9t1 2.6v35.8q0 1.6-1 2.5-1 1-2.5 1H269v4.1h20.8v-4h-2.3q-1.5 0-2.5-1t-1-2.5v-23.7q0-4.5 2-9a18 18 0 0 1 5.7-7.2 15 15 0 0 1 9.2-2.8q6 0 8.8 3.7t2.9 9.6v29.4q0 1.6-1 2.5-1 1-2.5 1h-2.3v4h20.8v-4h-2.3q-1.2 0-2.3-1m189.6-67.7q-8.6-4.6-19-4.6h-27v4h2.6q1.6 0 2.8 1.4a4 4 0 0 1 1.3 2.8V341q0 1.6-1.3 2.8a4 4 0 0 1-2.8 1.3h-2.6v4.1h27q10.4 0 19-4.6t13.8-13.3a40 40 0 0 0 5.1-20.7q0-12-5-20.6-5.2-9-13.9-13.5m8 34q0 10.8-3.7 18.3a26 26 0 0 1-23.8 14.5h-5.5q-1.5 0-2.8-1.3a4 4 0 0 1-1.3-2.8v-57.4q0-1.5 1.3-2.9a4 4 0 0 1 2.8-1.3h5.5q7.4 0 13.7 3.6 6.3 3.5 10 11 3.9 7.5 3.9 18.3m74.8 4.1a25 25 0 0 0-13-6.6q11.8-5.8 11.8-16.5 0-5.8-3-10.2-3.1-4.5-8.6-7-5.5-2.4-13-2.4h-30.5v4h2.4q1.5 0 2.9 1.4a4 4 0 0 1 1.3 2.8V341q0 1.6-1.3 2.8a4 4 0 0 1-2.9 1.3H539v4.1h33.2q7.5 0 14-2.5 6.4-2.6 10-7.5 3.8-4.9 3.8-11.9 0-7.5-4.5-12.7m-38 27.5a4 4 0 0 1-1.4-2.9v-27.3H572q8.3 0 12.7 4.3 4.5 4.2 4.5 11 0 4.1-2 7.8a15 15 0 0 1-5.8 6 18 18 0 0 1-9.4 2.3h-11.7q-1.5 0-2.8-1.2m-1.3-36v-24.3q0-1.6 1.3-2.8a4 4 0 0 1 2.8-1.3h7.5q8 0 11.8 4 3.8 3.9 3.8 10.2a15 15 0 0 1-3.5 10.3q-3.6 3.9-10.5 3.9zM244 296.3a30 30 0 0 0-14.4-3.6 29 29 0 0 0-14.1 3.4l-.3.2a27 27 0 0 0-10.3 10.1 30 30 0 0 0-3.9 15q0 8.6 3.9 15.1 3.8 6.6 10.3 10.2 6.4 3.5 14.4 3.6a29 29 0 0 0 14-3.4l.4-.2q6.4-3.6 10.3-10.2 3.8-6.5 3.8-15t-3.8-15q-3.9-6.7-10.3-10.2m4.1 25.2q0 10.4-5 16.6-5.2 6-13.5 6.1t-13.4-5.9l-.1-.2q-5.1-6.1-5.1-16.6 0-10.3 4.9-16.4l.2-.3q5-6 13.5-6.1t13.5 6.1q5 6.1 5 16.7m195.3-25.2a30 30 0 0 0-14.4-3.6 29 29 0 0 0-14 3.4l-.4.2a27 27 0 0 0-10.3 10.1 30 30 0 0 0-3.8 15q0 8.6 3.8 15.1t10.3 10.2q6.5 3.5 14.4 3.6a29 29 0 0 0 14-3.4l.4-.2q6.5-3.6 10.3-10.2t3.8-15-3.8-15a27 27 0 0 0-10.3-10.2m4.2 25.2q0 10.4-5.1 16.6-5 6-13.5 6.1-8.3 0-13.3-5.9l-.2-.2q-5-6.1-5-16.6 0-10.4 4.8-16.4l.2-.3q5-6 13.5-6.1t13.5 6.1q5 6.1 5 16.7M363 292.7q-6.9 0-12.4 2.8a22 22 0 0 0-8.8 8 20 20 0 0 0 5.7 27.4l-8.1 11a4.4 4.4 0 0 0 3.6 7.1h2.3q-3.4 2.2-5.2 5.2l-.1.3q-2.2 3.6-2.2 7.6 0 7.3 6.1 11.7l.3.2q6.3 4.5 17.5 4.5 7.7 0 14.5-2.5 6.6-2.4 10.7-7l.3-.2q4.2-4.8 4.2-11.5c0-4.6-1.7-7.9-5.7-11a25 25 0 0 0-15.4-4.1h-22.7v-.3l5.9-7.9a21 21 0 0 0 9 1.9q7.1 0 12.7-3 5.7-2.7 9-7.8 3-5 3.1-10.9c0-4.2-2-11.8-7.6-15.7h.1l12.2 1.3v-5.6h-19.5q-4.5-1.5-9.5-1.5m6.8 35.4a14 14 0 0 1-16.8-2.3q-4.2-4-4.3-11.5t4.3-11.6a14 14 0 0 1 16.5-2.4l.3.2q3.2 1.7 5.3 5.2t2.1 8.6a16 16 0 0 1-2.1 8.6q-2.1 3.4-5.3 5.2M354.5 349H370q6.2 0 8.8 2.6a10 10 0 0 1 2.7 7.1q0 6.2-5 10a21 21 0 0 1-13.1 4 20 20 0 0 1-11.6-3.2q-4.5-3-4.4-9.1 0-3.7 2-6.9 2-3 5.2-4.5" />
                                                </g>
                                                <defs>
                                                    <clipPath id="devicon-mongodb-1-a">
                                                        <path fill="#fff" d="M0 0h600v600H0z" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <div class="skill-box mx-3 mb-3" title="Cloudinary">
                                            <svg viewBox="0 -44 256 256" version="1.1"
                                                xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                preserveAspectRatio="xMidYMid">
                                                <g>
                                                    <path
                                                        d="M218.621451,161.618939 C215.360833,161.618939 212.325156,159.543784 211.255171,156.275009 C209.923769,152.205759 212.142772,147.826451 216.213984,146.495028 C230.962755,141.66786 240.491296,128.740696 240.491296,113.560042 C240.491296,94.3344571 224.850871,78.6917573 205.625591,78.6917573 C204.290136,78.6917573 202.853357,78.7971363 201.104499,79.0241064 L193.523411,80.0069681 L192.435188,72.4379198 C187.776295,39.9811923 159.502751,15.5048965 126.667585,15.5048965 C99.522794,15.5048965 75.3569387,31.7555519 65.1089949,56.9066786 L63.1797795,61.6386003 L58.0730327,61.7318202 C34.6042889,62.1634687 15.5107301,81.599812 15.5107301,105.056769 C15.5107301,122.180854 25.4526744,137.797209 40.8377623,144.839362 C44.7306435,146.622699 46.4430248,151.222897 44.6597165,155.11584 C42.8764081,159.008783 38.2783095,160.717138 34.3854283,158.939881 C13.4964022,149.378765 0,128.230013 0,105.056769 C0,74.9021669 23.2336713,49.6416082 52.7453988,46.5390077 C66.3431254,18.1069468 94.8416095,1.42108547e-14 126.665558,1.42108547e-14 C164.755405,1.42108547e-14 197.866173,26.7054667 206.452397,63.1949669 C233.848473,63.6387745 256,86.0622067 256,113.562069 C256,135.231636 241.94834,154.38832 221.037023,161.231874 C220.236561,161.493295 219.421913,161.618939 218.621451,161.618939 Z"
                                                        fill="#0071CE">

                                                    </path>
                                                    <path
                                                        d="M100.01656,164.973281 C100.014536,164.971257 100.014536,164.971257 100.012512,164.971257 C100.010489,164.971257 100.008465,164.969233 100.006441,164.969233 L100.004418,164.969233 L100.002394,164.967209 L100.00037,164.965186 C100.00037,164.965186 99.9983464,164.965186 99.9983464,164.963162 L99.9963227,164.963162 L99.994299,164.961138 C99.9963227,164.959115 99.9922752,164.959115 99.9922752,164.959115 L99.9902515,164.957091 L99.9882278,164.957091 L99.9862041,164.955067 C99.9882278,164.957091 99.9841804,164.953043 99.9841804,164.953043 C99.9841804,164.953043 99.9801329,164.95102 99.9781092,164.95102 L99.9760855,164.948996 L99.9760855,164.948996 L99.9740618,164.946972 L99.9720381,164.944949 C99.9659669,164.942925 99.9679907,164.942925 99.9659669,164.942925 C99.9639432,164.944949 99.9639432,164.940901 99.9619195,164.940901 L99.9598958,164.938877 C99.9598958,164.938877 99.9578721,164.936854 99.9558484,164.936854 L99.9538246,164.93483 C99.9518009,164.932806 99.9477535,164.932806 99.9457298,164.932806 C99.9437061,164.932806 99.9396586,164.930783 99.9376349,164.930783 C99.9356112,164.928759 99.9356112,164.928759 99.9335875,164.928759 L99.9315638,164.928759 C99.9295401,164.926735 99.9275163,164.926735 99.9254926,164.926735 C99.9234689,164.924711 99.9194215,164.924711 99.9194215,164.924711 L99.9173978,164.924711 L99.9133503,164.922688 C99.9113266,164.922688 99.9113266,164.920664 99.9113266,164.920664 L99.9093029,164.920664 C99.7899037,164.878166 99.6624096,164.851858 99.5288444,164.845787 L99.524797,164.845787 L99.5207495,164.845787 L99.5167021,164.845787 C99.5167021,164.845787 99.5167021,164.845787 99.5146784,164.845787 L99.5126547,164.845787 L99.510631,164.845787 L99.5086073,164.843763 L99.5045598,164.843763 L99.5005124,164.843763 L99.4984887,164.843763 L99.496465,164.843763 L99.4944412,164.843763 L99.4903938,164.843763 L99.4883701,164.843763 L99.4903938,164.843763 L99.4883701,164.843763 L99.4863464,164.843763 L99.4843227,164.843763 L99.482299,164.843763 L99.4802752,164.843763 L99.4782515,164.843763 L99.4762278,164.843763 L99.4742041,164.843763 C96.1229314,164.843763 93.380797,162.115794 93.3605598,158.772617 L93.3605598,90.6422134 L98.5554373,90.6422134 L98.5817456,90.6422134 C99.3770658,90.6766166 99.9194215,90.0654545 99.9194215,89.3308458 C99.9194215,88.782419 99.5834847,88.312917 99.1058879,88.1166166 L74.0543148,70.8259921 C73.6050499,70.5163636 73.0121013,70.5163636 72.5628365,70.8259921 L47.314963,88.2522055 C46.8414136,88.5780237 46.6370183,89.1750198 46.8070104,89.7234466 C46.9790262,90.2718735 47.4849551,90.6442372 48.0596903,90.6442372 L53.280876,90.6442372 L53.2849235,158.79083 C53.3112318,163.50204 57.0955796,167.347099 61.9099986,167.468522 C61.9646389,167.474593 62.0172555,167.47864 62.0718958,167.47864 L99.4721804,167.47864 L99.4944412,167.47864 C99.8384729,167.472569 100.150125,167.334957 100.380829,167.114372 C100.380829,167.114372 100.380829,167.114372 100.382852,167.112348 C100.3869,167.1083 100.390947,167.104253 100.392971,167.102229 C100.394995,167.100206 100.397018,167.100206 100.399042,167.096158 L100.401066,167.094134 L100.403089,167.092111 L100.405113,167.090087 L100.407137,167.088063 L100.409161,167.08604 L100.411184,167.084016 C100.415232,167.081992 100.413208,167.081992 100.415232,167.079968 C100.415232,167.079968 100.415232,167.079968 100.417255,167.077945 L100.419279,167.075921 C100.419279,167.075921 100.419279,167.075921 100.421303,167.073897 C100.647959,166.839146 100.789619,166.521423 100.791643,166.169296 L100.791643,166.165249 L100.791643,166.163225 L100.791643,166.161202 L100.791643,166.159178 L100.791643,166.157154 L100.791643,166.15513 L100.791643,166.153107 L100.791643,166.149059 C100.781524,165.630988 100.467848,165.177676 100.01656,164.973281 Z"
                                                        fill="#DC8327">

                                                    </path>
                                                    <path
                                                        d="M154.124635,164.973281 C154.124635,164.973281 154.122611,164.971257 154.120588,164.971257 C154.118564,164.971257 154.11654,164.969233 154.114516,164.969233 L154.112493,164.969233 L154.110469,164.967209 L154.108445,164.965186 L154.106422,164.965186 L154.104398,164.963162 L154.102374,164.961138 C154.104398,164.959115 154.10035,164.959115 154.098327,164.959115 L154.096303,164.957091 L154.094279,164.957091 C154.092256,164.957091 154.092256,164.955067 154.092256,164.955067 C154.088208,164.957091 154.088208,164.953043 154.088208,164.953043 L154.084161,164.95102 L154.082137,164.948996 L154.080113,164.948996 L154.07809,164.946972 L154.076066,164.944949 C154.074042,164.942925 154.072018,164.942925 154.072018,164.942925 C154.069995,164.944949 154.069995,164.940901 154.065947,164.940901 L154.063924,164.938877 L154.0619,164.936854 C154.0619,164.936854 154.059876,164.936854 154.057852,164.93483 C154.055829,164.932806 154.051781,164.932806 154.049758,164.932806 C154.047734,164.932806 154.043686,164.930783 154.041663,164.930783 C154.039639,164.928759 154.039639,164.928759 154.037615,164.928759 C154.035592,164.928759 154.035592,164.928759 154.033568,164.926735 C154.033568,164.926735 154.031544,164.926735 154.02952,164.924711 C154.023449,164.922688 154.027497,164.922688 154.025473,164.922688 C154.019402,164.922688 154.023449,164.922688 154.021426,164.920664 C154.021426,164.920664 154.019402,164.91864 154.017378,164.91864 L154.015354,164.916617 L154.013331,164.916617 C153.893931,164.874119 153.766437,164.84781 153.632872,164.841739 L153.628825,164.841739 L153.626801,164.841739 L153.622754,164.841739 L153.62073,164.841739 L153.618706,164.841739 L153.616682,164.841739 L153.614659,164.839715 L153.610611,164.839715 L153.606564,164.839715 L153.60454,164.839715 L153.602516,164.839715 L153.600493,164.839715 L153.596445,164.839715 L153.592398,164.839715 L153.590374,164.839715 L153.58835,164.839715 L153.586327,164.839715 L153.584303,164.839715 L153.582279,164.839715 L153.580256,164.839715 L153.578232,164.839715 L153.576208,164.839715 L153.574184,164.839715 C150.224935,164.839715 147.482801,162.111747 147.462564,158.768569 L147.462564,105.899004 L152.681726,105.899004 C152.699939,105.89698 152.714105,105.89698 152.734343,105.899004 C153.458833,105.899004 154.04571,105.312126 154.04571,104.587636 C154.04571,104.039209 153.709773,103.569708 153.232177,103.373407 L128.17858,86.0827826 C127.729315,85.7731542 127.136366,85.7731542 126.687101,86.0827826 L101.449346,103.506972 C100.975797,103.832791 100.771402,104.429787 100.941394,104.978213 C101.11341,105.52664 101.619339,105.899004 102.194074,105.899004 L107.390975,105.899004 L107.395022,158.788806 C107.417283,163.50204 111.207702,167.349123 116.024145,167.468522 C116.076761,167.474593 116.129378,167.476617 116.181995,167.476617 L153.582279,167.476617 L153.60454,167.476617 C153.948572,167.470545 154.260224,167.332933 154.490928,167.112348 C154.490928,167.112348 154.490928,167.112348 154.492951,167.110324 C154.496999,167.106277 154.505094,167.102229 154.50307,167.100206 C154.505094,167.098182 154.507117,167.098182 154.509141,167.094134 L154.511165,167.092111 L154.513188,167.090087 L154.515212,167.088063 C154.515212,167.088063 154.517236,167.088063 154.517236,167.08604 L154.51926,167.084016 C154.521283,167.084016 154.521283,167.081992 154.521283,167.081992 C154.527354,167.079968 154.525331,167.079968 154.525331,167.077945 C154.525331,167.077945 154.525331,167.077945 154.527354,167.075921 C154.527354,167.075921 154.527354,167.075921 154.529378,167.073897 C154.529378,167.073897 154.529378,167.073897 154.531402,167.071874 C154.758058,166.837123 154.899718,166.519399 154.901742,166.167273 L154.901742,166.163225 L154.901742,166.161202 L154.901742,166.159178 L154.901742,166.157154 L154.901742,166.15513 L154.901742,166.153107 L154.901742,166.151083 L154.901742,166.147036 C154.889599,165.630988 154.575924,165.177676 154.124635,164.973281 Z"
                                                        fill="#F4B21B">

                                                    </path>
                                                    <path
                                                        d="M208.37438,164.973281 L208.370333,164.971257 C208.368309,164.971257 208.366285,164.969233 208.364262,164.969233 L208.362238,164.969233 L208.360214,164.967209 L208.358191,164.965186 C208.356167,164.965186 208.356167,164.965186 208.356167,164.963162 L208.354143,164.963162 L208.352119,164.961138 L208.350096,164.959115 C208.350096,164.959115 208.348072,164.959115 208.348072,164.957091 L208.346048,164.957091 L208.344025,164.955067 C208.342001,164.957091 208.342001,164.953043 208.339977,164.953043 C208.342001,164.95102 208.337953,164.95102 208.33593,164.95102 L208.333906,164.948996 L208.331882,164.948996 L208.329859,164.946972 L208.327835,164.944949 C208.321764,164.942925 208.323787,164.942925 208.323787,164.942925 C208.321764,164.944949 208.321764,164.940901 208.317716,164.940901 L208.315693,164.938877 C208.317716,164.936854 208.313669,164.936854 208.311645,164.936854 C208.311645,164.936854 208.309621,164.936854 208.309621,164.93483 C208.307598,164.932806 208.30355,164.932806 208.301527,164.932806 C208.299503,164.932806 208.295455,164.930783 208.293432,164.930783 L208.289384,164.928759 C208.289384,164.928759 208.287361,164.928759 208.285337,164.926735 L208.281289,164.924711 C208.275218,164.922688 208.275218,164.922688 208.277242,164.922688 C208.271171,164.922688 208.271171,164.922688 208.273195,164.920664 C208.271171,164.920664 208.271171,164.91864 208.271171,164.91864 C208.269147,164.91864 208.267123,164.916617 208.267123,164.916617 L208.2651,164.916617 C208.1457,164.874119 208.018206,164.84781 207.884641,164.841739 L207.882617,164.841739 L207.87857,164.841739 L207.872499,164.841739 L207.870475,164.841739 L207.868451,164.841739 L207.866428,164.841739 C207.864404,164.839715 207.864404,164.839715 207.86238,164.839715 L207.858333,164.839715 L207.854285,164.839715 L207.852262,164.839715 L207.850238,164.839715 L207.848214,164.839715 L207.844167,164.839715 L207.840119,164.839715 C207.840119,164.839715 207.840119,164.839715 207.838096,164.839715 L207.836072,164.839715 L207.834048,164.839715 L207.832025,164.839715 L207.830001,164.839715 L207.827977,164.839715 L207.825953,164.839715 L207.834048,164.839715 L207.832025,164.839715 C204.482776,164.839715 201.740641,162.111747 201.720404,158.768569 L201.720404,121.149723 L206.927424,121.149723 L206.953732,121.149723 C207.692388,121.13151 208.291408,120.572964 208.291408,119.838356 C208.291408,119.289929 207.955471,118.820427 207.477874,118.624126 L182.424278,101.333502 C181.977036,101.023874 181.382064,101.023874 180.932799,101.333502 L155.684926,118.757692 C155.211376,119.08351 155.006981,119.680506 155.176973,120.228933 C155.348989,120.77736 155.854918,121.149723 156.429653,121.149723 L161.636673,121.149723 L161.64072,158.788806 C161.667029,163.50204 165.455424,167.351146 170.269843,167.468522 C170.322459,167.474593 170.375076,167.476617 170.427693,167.476617 L207.827977,167.476617 L207.850238,167.476617 C208.19427,167.470545 208.505922,167.332933 208.736625,167.112348 L208.738649,167.110324 C208.742697,167.106277 208.748768,167.102229 208.748768,167.100206 C208.750791,167.098182 208.752815,167.098182 208.754839,167.094134 L208.756863,167.092111 L208.758886,167.090087 L208.76091,167.088063 L208.762934,167.08604 L208.764957,167.084016 L208.766981,167.081992 C208.773052,167.079968 208.769005,167.079968 208.771029,167.077945 C208.771029,167.077945 208.771029,167.077945 208.773052,167.075921 L208.775076,167.073897 C208.775076,167.073897 208.775076,167.073897 208.7771,167.071874 C209.003756,166.837123 209.145416,166.519399 209.14744,166.167273 L209.14744,166.163225 L209.14744,166.161202 L209.14744,166.159178 L209.14744,166.157154 L209.14744,166.15513 L209.14744,166.153107 L209.14744,166.151083 L209.14744,166.147036 C209.139345,165.630988 208.823645,165.177676 208.37438,164.973281 Z"
                                                        fill="#F2D864">

                                                    </path>
                                                </g>
                                            </svg>
                                        </div>

                                    </div>
                                    <h5 class="mt-auto">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-database stack-icon" viewBox="0 0 16 16">
                                            <path
                                                d="M4.318 2.687C5.234 2.271 6.536 2 8 2s2.766.27 3.682.687C12.644 3.125 13 3.627 13 4c0 .374-.356.875-1.318 1.313C10.766 5.729 9.464 6 8 6s-2.766-.27-3.682-.687C3.356 4.875 3 4.373 3 4c0-.374.356-.875 1.318-1.313M13 5.698V7c0 .374-.356.875-1.318 1.313C10.766 8.729 9.464 9 8 9s-2.766-.27-3.682-.687C3.356 7.875 3 7.373 3 7V5.698c.271.202.58.378.904.525C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777A5 5 0 0 0 13 5.698M14 4c0-1.007-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1s-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4v9c0 1.007.875 1.755 1.904 2.223C4.978 15.71 6.427 16 8 16s3.022-.289 4.096-.777C13.125 14.755 14 14.007 14 13zm-1 4.698V10c0 .374-.356.875-1.318 1.313C10.766 11.729 9.464 12 8 12s-2.766-.27-3.682-.687C3.356 10.875 3 10.373 3 10V8.698c.271.202.58.378.904.525C4.978 9.71 6.427 10 8 10s3.022-.289 4.096-.777A5 5 0 0 0 13 8.698m0 3V13c0 .374-.356.875-1.318 1.313C10.766 14.729 9.464 15 8 15s-2.766-.27-3.682-.687C3.356 13.875 3 13.373 3 13v-1.302c.271.202.58.378.904.525C4.978 12.71 6.427 13 8 13s3.022-.289 4.096-.777c.324-.147.633-.323.904-.525" />
                                        </svg>


                                        <i class="fas fa-database"></i> Data & Storage
                                    </h5>
                                    <p class="text-white-50 small">
                                        <strong>MongoDB & Mongoose:</strong> Provides flexible, schema-based data
                                        modeling.
                                        <br>
                                        <strong>Cloudinary:</strong> Handles the image hosting and management as well as
                                        dynamic image
                                        transformations.
                                    </p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card bg-dark text-white border-secondary h-100 p-3">
                                    <div class="row skills-container justify-content-center">
                                        <div class="skill-box mx-3 mb-3" title="Joi JS">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="528" height="276"
                                                viewBox="0 0 396 207">
                                                <g fill="#FFFFFF">
                                                    <path
                                                        d="M182.3 2.2c-.5.7-1.7 3.9-2.7 7.2-1.3 4.2-3 7-6.2 10.3-4.7 4.7-11.7 18.7-17.6 35.3-3.3 9.3-26.6 56.4-33 66.9-2.8 4.5-4.2 7.9-4.3 10.7-.3 5.2-9.3 23.9-17.3 36-7.9 11.7-19.8 23.2-28.5 27.3-6.5 3.1-6.7 3.1-9.9 1.5-5.7-3-8.9-5.7-13.5-11.8-4.3-5.8-7.8-12.5-6.9-13.3.2-.3 4.4 1.1 9.3 3.1 15 6 17.5 6.4 22.8 3.8 6.9-3.4 13-9.5 15.5-15.7 3-7.5 2.4-14.2-2.1-23.2-2.9-5.7-4.2-7.3-8.7-10-6.9-4-16.2-5.7-28.4-5.1-11.6.6-16.5 2.7-23.9 9.9-13.1 12.8-15.2 28.1-6.3 45.8C28.7 197 46.7 206 71.1 206c15.8 0 27.9-4.9 38.4-15.6 8.4-8.5 21.9-30.8 25.5-41.9.7-2.2 2.3-4.9 3.4-6 1.2-1.1 3.7-6.3 5.5-11.5s6.2-17.4 9.8-27 9.4-25.6 12.8-35.5c5.4-15.4 14.7-38.9 23.5-59.4 2.3-5.2 2.3-5.4.5-6.7-2.3-1.7-6.9-1.8-8.2-.2m2.1 3.5c-1 3.9-4 9.7-5.9 11.3-1.3 1.1-1.2.6.3-2.1 1.1-1.9 2.5-5.3 3.2-7.7 1.2-4.6 3.5-6 2.4-1.5m5.1-1.7c.5.8-9.6 25.2-10.3 24.6-.1-.2.2-1.6.8-3.2s.7-2.5.2-1.9c-1 1-9.2 22-9.2 23.3.1.4.7-.4 1.5-1.8 1.7-3 2-2.1.3 1.5-.6 1.4-2 2.5-3 2.5-2.8 0-7.8-2.8-7.8-4.4 0-.7 2-5.6 4.5-10.9 3.7-7.9 5.2-10.1 8.3-12.1 5.3-3.3 8.7-7.7 10.7-13.6 1.6-4.9 2.8-6 4-4m-11.4 28.7c-1.2 2-1.4 1.4-.5-1.2.4-.9.9-1.4 1.1-1.1.3.2 0 1.3-.6 2.3m-2.2 6.2c-.6 1.8-1.3 3-1.5 2.8s.1-1.8.7-3.6 1.3-3 1.5-2.8-.1 1.8-.7 3.6M163.7 49c1.4 1.1 3.4 2 4.4 2 2.4 0 2.4 1.2.2 3.9-1.6 1.9-2.2 2-5 1.1-1.8-.7-3.5-2-3.8-3.1-.6-1.9.2-5.9 1.2-5.9.2 0 1.6.9 3 2m-1.1 8.4c4.2 1.8 4.2 1.8 2.1 5.5-3 5.3-5.5 7.9-11.8 12.1-5.6 3.7-5.6 3.7-1.3-5.4 2.3-5 4.6-10.4 5-11.9.3-1.5.9-2.6 1.3-2.4.3.2 2.5 1.1 4.7 2.1m1.6 12.7c-1.8 4.7-8.2 10.6-16.8 15.6-5.6 3.4-5.6 3.4-3.7.1 1-1.8 5-5.6 8.8-8.3 3.9-2.8 8.3-6.5 10-8.3 1.6-1.8 3.1-3.2 3.2-3.2s-.6 1.9-1.5 4.1m-6.8 18.5c-4.2 11.5-8.4 16.5-15.5 18.4-2.4.7-5.8 2-7.5 3.1-1.7 1-3.4 1.9-3.6 1.9-.9 0 8.4-17.4 10.6-19.8 1.1-1.3 4.3-3.6 7.1-5.2 2.7-1.6 6.6-4.2 8.5-5.8 1.9-1.7 3.6-2.9 3.8-2.8.1.2-1.4 4.7-3.4 10.2m-6.9 19.1c-2 4.9-7.9 8.9-14.6 9.8-2.7.4-6.5 1.8-8.5 3.1-3.7 2.5-3.7 2 .1-3.1 2.3-3.1 10.9-8 15.7-9 1.5-.3 4-1.6 5.5-2.9s2.9-2.3 3.1-2.1c.2.1-.4 2-1.3 4.2m-4.8 12.7c-1.2 3-2.5 5.2-2.9 5-.4-.3-.5.1-.2.9.2.7 0 2.5-.5 3.9-1.4 3.6-7.2 4.4-12.8 1.7s-6.4-5.4-2.7-8.5c2.9-2.4 8.2-4.3 11.9-4.4 1.1-.1 3.6-.9 5.5-2s3.6-1.9 3.7-2c0 0-.8 2.4-2 5.4m-97.5 8.3c-4.4 2.1-12.9 9.9-12 10.8.4.5 2.6-1.1 4.9-3.3 2.2-2.3 6.5-5.3 9.5-6.8 4.9-2.4 6.3-2.6 12.4-2.1 7.4.6 15 3.4 18.8 7 3.2 3 7.1 10.8 8.1 16.4 1.8 9.2-3.8 19.9-13.1 25.3-6.3 3.6-8.4 3.7-14.4.9-5.5-2.6-7.4-6-7.4-13.2 0-4.7.4-6 2.9-8.6 3.6-3.8 8.9-4.3 12.2-1 2.9 2.9 2.1 5.2-2.4 6.2-7.9 1.9-8.3 8.6-.6 10.7 5 1.4 7.5.6 11.7-3.4 4.7-4.3 6.2-7.7 6.2-13.6 0-9.8-5.1-16.3-14.2-18.2-6.6-1.4-11.2-.4-17.7 4-7.9 5.3-12.3 14.8-12.5 27.2-.1 8.9 2.2 14.1 10.2 23 11.4 12.7 26.9 15.9 43.2 8.9 2.9-1.2 3.8-1.4 2.6-.4-3 2.3-13.7 5.5-20.7 6.1-8 .8-19.8-1-25.2-3.8-5.2-2.6-14.4-11.9-18-18.1-5.7-9.7-6.8-20.4-3-30 .9-2.1 1.3-4 1-4.3-1-1-3.5 5-4.5 10.6-2.1 11.3 2.2 22.9 12.6 34.1 6.4 6.9 6.4 6.9 2.5 5.3-2.1-.9-4.2-2.1-4.8-2.6-.7-.8-.5-.9.5-.4.8.4.6.1-.4-.8-1-.8-2.3-1.3-2.9-.9-.6.3-.7.2-.4-.4.3-.5-.9-1.7-2.6-2.6C24 187 18.2 175 17.3 162.5c-.7-9.3 2-16.4 8.8-24 7.6-8.2 13.3-11.3 21.4-11.4 4-.1 4-.1.7 1.6m82.3 5.7c2.2.8 5.4 1.2 7.2.9 3.3-.6 3.3-.6 1.9 2.8-1.7 4-4.6 4.7-11.3 2.8-6.6-1.8-9.8-7-7.7-12.4.6-1.3 1.1-1.1 3.3 1.5 1.4 1.7 4.4 3.7 6.6 4.4m-54.9 4.9c7 3.6 9.8 16.8 5.1 23.8-3.2 4.9-8.7 7.4-13.1 5.9-4.6-1.5-4.5-5.1.3-6.6 5.9-1.9 7.2-6.2 3-10-1-.9-6.2-3.1-11.5-4.9-9.6-3.2-9.6-3.2-6.6-5.4 7.5-5.3 16-6.3 22.8-2.8m54.9 4.2c4.2 1 4.2 1 .7 9.3-1.8 4.5-3.8 8-4.3 7.6-.5-.3-.6.1-.4.8.3.8-.2 2.2-1.1 3.3-.8 1.1-1.2 1.4-.8.6.5-.9.3-1.2-.5-.7-.6.4-.9 1.1-.6 1.6 1 1.6-8.3 14.6-15 20.8-3.6 3.4-8.7 7.3-11.3 8.6-5.2 2.6-16.1 6.1-16.8 5.3-.3-.2 2.1-1.9 5.3-3.7 5.5-3.1 21.8-17.8 20.8-18.8-.2-.3-4 2.9-8.3 6.9-4.4 4.1-11.2 9.3-15.2 11.7-6.1 3.7-7.9 4.3-10.7 3.7-3.4-.6-3.4-.6 2.8-3.7 12.5-6.2 27.2-23.7 37.7-44.6 3.7-7.4 4.8-9 5.4-7.5q.9 1.95.3-.9c-.3-1.4-.2-3.4.1-4.2.5-1.4 1.1-1.4 4.2.6 2 1.2 5.5 2.7 7.7 3.3m-75 4.6c6.7 1.6 7.1 1.9 4.4 3.3-1.3.6-3.4 2.7-4.6 4.5-2.7 4-3.1 12-.9 16.3.8 1.6 1.4 2.8 1.2 2.8-.1 0-2.9-1.1-6.1-2.4-7.1-2.9-8.2-5.1-6.5-12.8 1.3-6.4 4.9-13.7 6.4-13.3.6.2 3.4.9 6.1 1.6" />
                                                    <path
                                                        d="M153.6 87.6c-.9 2.4-.2 2.6 1.2.4.7-1.1.8-2 .3-2s-1.2.7-1.5 1.6M151 93.5c-.5 1.4-1.8 4.3-2.9 6.6-1.4 2.8-1.5 3.7-.5 2.9.7-.7 1.4-1.9 1.4-2.7s.4-1.2.9-.9.8-.2.7-1.1c0-1 .4-1.8 1.1-1.8.6 0 1.5-.4 2-.9s.2-.6-.6-.1c-1.1.6-1.3.2-.9-1.9.7-3.3 0-3.4-1.2-.1M136.5 124.1c-.9 1.7-1.5 3.3-1.3 3.5.3.2 1.2-1.2 2.1-3.1 2.1-4.3 1.3-4.7-.8-.4M51.3 200.1c1 .6 4.4 1.2 7.5 1.5 4.7.3 5.1.2 2.2-.5-6.5-1.6-11.7-2.1-9.7-1M119.2 149c0 1.4.2 1.9.5 1.2.2-.6.2-1.8 0-2.5-.3-.6-.5-.1-.5 1.3M119.3 158.5c0 2.2.2 3 .4 1.7.2-1.2.2-3 0-4-.3-.9-.5.1-.4 2.3M118.1 165.6c0 1.1.3 1.4.6.6.3-.7.2-1.6-.1-1.9-.3-.4-.6.2-.5 1.3M114.3 176c-3.7 8.3-2.8 8.2 2.8-.3 2.6-3.9 3.3-5.5 1.9-4.2-2.3 2-2.3 2-1.6-.3 1.3-4.1.1-2.3-3.1 4.8M243.5 28.5c-2.5 2.6-3.5 4.4-3.5 6.7 0 4.3 4.1 9.3 9.4 11.3 4.2 1.6 4.5 1.6 8.4-.4 8.8-4.5 10.6-11.3 4.7-17.4-3.3-3.4-4-3.7-9.5-3.7s-6.2.3-9.5 3.5m15.1 1.1c.9 1.1 1.3 1.2.9.4s.3-.4 1.4.9c2.7 3 2.6 5.7-.1 9.7-3.7 5.3-9.6 5.9-14.6 1.4-4.1-3.5-4.6-8.6-1.4-11.8 3.4-3.4 11.2-3.8 13.8-.6M372.9 27.9c-2.4 2.5-2.9 3.8-2.9 7.8 0 4.1.5 5.4 2.8 7.5 4.4 4 8.6 5.3 12.5 3.8 9.4-3.8 11.9-13.4 5-19.8-1.9-1.8-3.6-2.2-8.4-2.2-5.4 0-6.4.3-9 2.9m13.3.5c-.3.5.2.6 1.2.3.9-.4 1.5-.3 1.3.1-.5.8 1.8 3.3 2.5 2.7.2-.2.5 1.2.6 3.1.2 3-.3 4.2-3.3 7-4.3 4-8.2 4.4-12.5 1.2-2.7-1.9-3-2.8-3-7.4 0-3.1.5-5.6 1.2-6 2.9-1.8 13.1-2.6 12-1M309.1 57.5c-1.8.8-4.2 1.5-5.2 1.5-2.9 0-13.3 6.6-16.9 10.7-1.8 2-4.4 6.2-5.7 9.3-1.3 3-2.8 6.3-3.4 7.2-.5 1-.9 6.5-.9 12.2 0 9.2.3 11.2 2.9 17.6 6.5 15.9 20.2 25 37.9 25 15.7 0 29.6-8.2 36.6-21.5 1.4-2.7 2.6-6 2.6-7.2s.5-2.5 1-2.8c.6-.3 1-4.7 1-9.8-.1-21.6-11.3-36.7-31-41.9-7.9-2.1-14.4-2.2-18.9-.3m15.9 2c1.4.1 2.6.3 2.8.4.1.1.5.1.8 0 .4 0 1 .5 1.4 1.2.4.6 2.3 1.3 4.1 1.4 1.8.2 3.8 1.1 4.5 2 .8 1 1.8 1.4 2.5.9.9-.5 1-.2.6.9s-.2 1.4.9 1c.7-.3 1.4 0 1.4.5 0 .6 1.2 2.3 2.8 3.9 1.5 1.5 2.6 3.1 2.5 3.5-.2.4.6 1.2 1.7 1.8 1.4.8 1.9 1.9 1.6 4-.2 1.6 0 2.7.5 2.5.4-.3 1-.1 1.4.5.3.5.1 1-.5 1-.7 0-.5.7.4 1.6.9.8 1.6 2.5 1.7 3.7.5 11.1.3 16.7-.7 19.4-.7 1.7-1 3.4-.7 3.6.3.3-.7 2.3-2.1 4.4-1.4 2-2.6 4.3-2.6 5s-.5 1.3-1.1 1.3c-.5 0-.7-.5-.3-1.2s.3-.8-.5-.4c-.6.4-.9 1.1-.6 1.6.7 1.1-2.5 5-4 5-.6 0-2.3 1.4-3.8 3.1s-2.7 2.8-2.7 2.4-1.1 0-2.5.9-2.5 1.4-2.5 1.2c0-.3-1.5.1-3.2.8-2.2.9-6.5 1.2-12.8 1-11.4-.5-12-.5-11.4-1.5.2-.4-1-1-2.7-1.4-1.8-.4-4.8-1.9-6.9-3.3-4-2.9-11.7-11.9-11.2-13.3.1-.5-.3-.9-1-.9-.6 0-.9-.3-.5-.6.3-.4-.1-2.1-1.1-3.8-2.5-4.7-2.4-23.4.2-30.1 1.1-2.8 2.6-5.5 3.3-6.2.8-.6 1.4-1.4 1.3-1.8-.4-1.3 6.1-8.5 7.1-8 .5.4.9 0 .9-.7.1-1.5 6.7-5.1 8.1-4.3.5.4.9.2.9-.3 0-.6 1-.8 2.3-.5 1.7.4 1.9.2.8-.5-1.5-1.1-1.3-1.1 7.9-2.6 1.4-.2 3.9-.1 5.5.1 1.7.2 4.1.6 5.5.8" />
                                                    <path
                                                        d="M311.1 74.4c-.7.9-2.2 1.6-3.1 1.6-1 0-2.8 1.5-4 3.4-1.1 1.9-2.5 3.6-3 3.8s-1.5 3.9-2.3 8.4c-2.3 13 .8 24.5 7.9 29.4 4 2.7 10.3 4 15.4 3.3 3.9-.6 12-6.6 12-8.9 0-.8.4-1.3.8-1 1.6 1 3.4-9.9 3-18-.7-14.4-7.4-22.5-19.3-23.2-4.7-.3-6.4 0-7.4 1.2m13.9 2.4c3 1.2 6.2 4.5 8.6 9.2 2.6 5 2.6 19.9 0 25.5-2.5 5.3-4.1 7-8.8 9.5-5 2.6-9.3 2.5-14.3-.3-8.2-4.7-11.8-14.5-10.1-28.1.8-6.4 5-12.8 10.2-15.7 5.3-2.9 7.4-2.9 14.4-.1M242.4 59c-.3.2-.4 20.6-.4 45.4.2 44.9.2 44.9-2.4 47.4-1.6 1.6-4.1 2.8-6.8 3.1-4.3.6-4.3.6-4.6 5.6-.2 2.7-.1 6.5.3 8.2.6 3.2.7 3.3 6 3.3 7.6 0 16.3-2.5 20.5-5.8 9.6-7.8 10.2-11.9 9.8-65.2-.3-41.5-.3-41.5-11.1-42-6-.3-11.1-.3-11.3 0m19.7 4c1.2 2 1.1 83.7-.2 84.5-.5.4-.7 1.1-.3 1.6.3.5-.2 2.1-1 3.4-.9 1.4-1.2 2.5-.7 2.5s.4 1.1-.2 2.4c-.7 1.3-1.5 2.2-1.9 2-.5-.3-.8.2-.8 1 0 .9-.5 1.6-1.1 1.6-.5 0-.7.5-.3 1.2.4.6.3.8-.3.5-.6-.4-1.6 0-2.3.9-.7.8-1.9 1.3-2.7 1s-1.2-.2-.9.3c1 1.5-4.6 3.1-11.4 3.4-6.5.2-6.5.2-6.8-5.6-.2-3.7.1-5.7.8-5.7.6 0 .9-.4.6-.8-.2-.4.7-.9 2-1 4-.3 6.3-2 8.4-6.1 1.9-3.8 1.9-5.8 1.7-45.4-.1-22.8.1-41.3.6-41 .4.2.7-.3.7-1.1 0-2.1 14.7-1.7 16.1.4M370.7 59.7c-.4.3-.7 18.1-.7 39.4 0 45-1.6 40.2 13.5 39.7 9-.3 9-.3 9.3-40.1C393 59 393 59 382.2 59c-6 0-11.2.3-11.5.7m18.3 2.8c.6.4 1 13.6 1 36.5 0 41.4.8 38.3-10.3 37.8-6.2-.3-6.2-.3-6.5-36.3-.1-19.8 0-36.9.2-38.1.5-1.9 1-2 7.6-1.3 3.8.4 7.4 1.1 8 1.4" />
                                            </svg>

                                        </div>
                                        <div class="skill-box mx-3 mb-3" title="Helmet JS">

                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450 459">
                                                <g fill="#d4d4d4">
                                                    <path
                                                        d="M210 26.7c-36.8 3-42.9 4.2-60.3 12.3-17.2 7.9-32.2 18.2-46.1 31.8-21 20.4-35 45.7-44.2 79.7-2 7.4-3.8 67.7-3.9 126 0 37.1.1 39.4 2.2 48.1 2.8 11.3 3 18.5.6 20.6-1 .9-6.5 4.3-12.2 7.7s-12.1 7.5-14.3 9.2c-7.5 6-8.6 12.2-3.8 20.4 1.9 3.2 3 6.4 3 8.9 0 3.5.7 4.6 5.2 9.1 9.1 8.7 19.7 17.4 23.7 19.4 2.5 1.3 4.3 3.2 5.1 5.3 2.2 5.5 4.9 7.8 9.1 7.8 2 0 11.1-2.5 20-5.5 23.8-8.1 43.5-12.7 77.9-18.4 58.4-9.6 69.1-10.7 116.4-12.2 48.8-1.5 101.8-.8 111.1 1.5 12.6 3.2 15.7 3.2 19.2.2 6.4-5.4 5.6-13-2.7-27.7-4.3-7.7-7-11.2-10.1-13.4-3.2-2.3-6.4-6.6-12.7-17l-8.4-14 .4-14.6c.5-16.8 1.1-18.6 8-21.7 5.6-2.5 14.4-9.5 16.8-13.4 1-1.6 2.6-7.3 3.5-12.7 1-5.3 3.8-15.5 6.4-22.6l4.6-13-.1-15c-.2-40.1-19.3-100.1-42.5-133.5-8-11.5-25.7-30-32.7-34-2.4-1.4-7.1-4.5-10.4-6.9-7.6-5.4-10.1-6.1-20.8-6.1-10 0-18.3 1.9-25.9 6-7 3.8-9.9 3.8-16.3-.4-18.6-11.8-33.6-14.5-65.8-11.9M235 52c7.7 1.7 11.2 2 18.5 1.5 8-.5 9.4-.3 12.3 1.4 6.2 3.9 7.5 2.5-27.9 31.7-15.2 12.6-36.1 33.1-48.8 47.9-4.7 5.5-12 13.8-16.1 18.5-23.1 25.9-26 30-27.9 40.5-1.4 7.4-1.4 16.5 0 20.2.5 1.5 3.6 5.5 6.8 8.8s7.3 8.2 9.2 11c11.1 16.5 36.4 33.2 66.5 43.8 14.4 5.1 43.2 12.1 62.4 15.2 13.9 2.3 20.7 2.8 43.3 3.2 25.3.5 26.8.7 27.8 2.5 1.5 2.8.8 23.3-.9 25-1 1-13 1.3-58 1.5-35.9.1-58.9.5-62.7 1.2-3.3.6-8.7 1.1-12 1.1s-7.6.5-9.5 1.1c-3.8 1.1-22.6 2.3-62.5 3.9-24.3.9-34.2 1.8-45.4 4-7.3 1.4-7.1 1.4-7.1-2.4 0-2.6-.9-4.4-3.5-7.2-3.6-3.8-4.5-7.7-2.5-11.4.6-1 3.7-4 7-6.5 8.6-6.6 10.9-11.6 7-15.5-2.3-2.3-9.3-2.7-13.5-.8-3.4 1.5-4.3.5-6-6.8-2.3-9.7-2.1-10.8 2.7-13 4-1.8 18.2-11.7 24.1-16.8 2-1.7 2.7-3.3 2.7-5.8 0-5.2-2.8-7.2-10-7.3-5.3 0-6.4.4-12.9 4.9-7.7 5.2-10.1 5.4-10.1.8 0-4.4 9.1-12.1 24.7-20.9 9.5-5.2 11.2-8.5 6.8-12.8-4.4-4.5-12.1-3.2-22.6 3.9-6.3 4.2-7.9 4.5-7.9 1.2 0-3 3-5.4 16.5-13.1 12.6-7.3 13.5-8 13.5-12.1 0-6.9-8.4-9-20-5-6.2 2.2-7.6 2.4-8.7 1.3-1.7-1.6-.5-5.3 2.4-8 1.1-1 8-5 15.4-9.1 15.1-8.2 18.1-11.3 15.9-16.5-1.2-3.1-4.6-5.1-8.6-5.1-1.4 0-6.3 1.6-11 3.6-4.6 2-9.1 3.4-9.9 3-2.4-.9-1.9-11.8 1.1-23.2 3.1-12 10.7-31.7 15.9-41 2.3-4.2 6.8-9.9 11.4-14.4 6.9-6.8 9.2-8.3 24.1-15.7 16.3-8.1 28.3-12.3 40.5-14.3 10.4-1.6 36.7-.5 47.5 2m99.6 15c3.2 1.9 10.4 8 15.9 13.5 15.4 15.4 25.5 33.9 36.3 66 7.8 23.1 12.2 45.2 13.5 67.5l1 18.5-3.1 12.5c-1.8 6.9-4.1 13.6-5.1 15-3.5 4.8-27.9 11-43.3 11H339l-.5-2.8c-.4-1.5-.8-3.6-1-4.8-.7-3.4-4.5-7.4-7-7.4-2.7 0-3.7 1.1-7.3 8.1-2.4 4.9-3.1 5.4-6.3 5.7-5.3.4-6.5-1.6-4.1-6.5 3.5-6.8 3.7-9.9.8-12.8-1.4-1.4-3.2-2.5-4-2.5-1.7 0-9.6 6.2-14.5 11.4-3.5 3.6-6.1 4.6-6.1 2.3 0-.6 1.8-3.9 4-7.1 2.2-3.3 4.3-7 4.7-8.3.8-3.5-1.2-7.1-4.3-7.9-4-1-8.7 1.9-17.8 10.8-8.1 8-9.5 8.8-11.5 6.4-.9-1.1-.3-2.7 2.8-7.6 5.6-8.6 6.7-12.4 4.7-15.5-1.2-1.8-2.6-2.5-4.8-2.5-2.6 0-4.7 1.6-12.7 9.5-5.7 5.6-10.5 9.5-11.7 9.5-1.1 0-8-2.2-15.4-4.8-7.4-2.7-18.7-6.6-25-8.8l-11.5-3.8-11.1-11.1c-6-6-11.8-12.6-12.7-14.7-2-4.2-2.2-13.6-.4-15.9 5.4-7.1 55.3-60.4 66.3-70.8 18.7-17.7 51.6-43.2 62.6-48.5 17.6-8.4 29.3-9.5 39.4-3.6m42.3 291c3.9 6.6 7.1 12.4 7.1 12.9s-.7 1.2-1.6 1.5c-2.3.9-77.7.7-79-.2-.7-.4-2.4-3.3-4-6.5-3.1-6.7-6-8.7-9.9-6.9-2.8 1.3-4.5 4.8-4.5 9.1s-1.9 5.2-10.2 4.9l-7.3-.3-.7-5.7c-1.1-8.7-4.7-12.9-9.7-11.3-2.1.6-4.5 5.9-5.6 12.3-1 6-2.7 7.4-8.9 7l-5.1-.3-1.2-5.4c-1.5-6.9-3.3-8.9-6.7-7.3-1.5.7-2.8 2.3-3.2 3.9-2.2 9.7-2.4 10.1-5.8 11.3-6.2 2-14.9 3-16.3 1.9-.8-.7-1.3-3.3-1.3-6.8 0-3.4-.8-7.3-2-9.9-1.6-3.6-2.3-4.2-4.9-4.2s-3.4.7-5.2 4.2c-1.3 2.5-2.4 6.9-2.7 10.8-.2 3.6-.9 7.3-1.4 8.2-1.1 2.3-6.6 2.4-7.5.2-.8-2.2 1.6-23.5 2.8-25 1.5-1.8 14.9-3.3 39.9-4.4 12.4-.6 30.2-1.7 39.5-2.5 10.8-1 32.2-1.6 58.5-1.8 36.5-.2 41.9-.4 44.5-1.9 1.9-1 3.4-1.3 4.1-.7.7.5 4.4 6.3 8.3 12.9m-232-1.1c1.1.7 1.1 2.6.2 11-.6 5.6-1.1 12.4-1.1 15 0 5.7-1.2 7.1-7 7.8-7.4 1-8.1-1.3-5.8-20.8 1.3-11.8 2.6-13.9 8.6-13.9 2 0 4.3.4 5.1.9m21.4 3.2c-1.1 17.8-1.9 23.4-3.3 23.4-3.4 0-3.7-20.3-.4-25.3 2.1-3.2 3.9-2.2 3.7 1.9m-53.8 16.6c-.4 9.8-1.1 18.5-1.5 19.3-.5.8-4.8 2.8-9.7 4.4-4.8 1.5-12.7 4.6-17.5 6.8s-9.4 3.8-10.2 3.5-2.3-2.3-3.3-4.4c-2.3-4.9-9-11.4-17.8-17.2-7.2-4.8-8.6-7-6.3-9.8 1.4-1.7 19.3-13.9 24.8-16.9 3.5-1.9 3.8-1.9 37.3-3.2l4.9-.2z" />
                                                    <path
                                                        d="M302.3 81.2c-2.3 1.3-8.3 5.9-13.3 10.2-8.1 7.1-9.1 8.3-8.8 10.9.4 3.6 2.6 5.2 5.9 4.4 1.3-.4 6-2.7 10.4-5.3 13.8-8 13.5-7.9 16.4-6.3 1.3.8 5.1 5.2 8.4 9.8 6.2 8.7 9.6 11.1 15.7 11.1 3.6 0 7-3.1 7-6.4 0-2.3-11-18.1-17.4-24.9-5.6-6-16.7-7.6-24.3-3.5M205.4 169.4c-6.1 2.8-13.1 9.8-14.3 14.3-1.2 4.2 1.9 20.5 4.6 24.1 3 4 9.3 5.7 15.8 4.3 9.2-2.1 15.7-8.9 17.1-17.8.7-4.8-1-16.3-3.2-20.8-3.1-6.6-11.1-8.2-20-4.1m7.1 18.6c0 3.6-2.9 3.3-3.3-.3-.3-2.3 0-2.8 1.5-2.5 1.2.2 1.8 1.2 1.8 2.8M78 365.8c-7.7 3.9-12.3 15.9-8.6 23 2.2 4.3 4.9 5.5 10.5 4.7 11.7-1.8 15.6-8.8 11.5-20.9-2.4-7-7.6-9.7-13.4-6.8" />
                                            </svg>
                                        </div>

                                    </div>
                                    <h5>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-person-lock stack-icon"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m0 5.996V14H3s-1 0-1-1 1-4 6-4q.845.002 1.544.107a4.5 4.5 0 0 0-.803.918A11 11 0 0 0 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664zM9 13a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1" />
                                        </svg>

                                        <i class="fas fa-shield-alt"></i> Security & Validation
                                    </h5>
                                    <p class="text-white-50 small">
                                        <strong>Joi:</strong> Enforces server-side data validation.
                                        <br>
                                        <strong>Helmet:</strong> Secures HTTP response headers to protect against common
                                        web
                                        vulnerabilities.
                                    </p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card bg-dark text-white border-secondary h-100 p-3">
                                    <div class="row skills-container justify-content-center">
                                        <div class="skill-box mx-3 mb-3" title="MapBox">
                                            <svg viewBox="0 -199 512 512" version="1.1"
                                                xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                preserveAspectRatio="xMidYMid">
                                                <g>
                                                    <path
                                                        d="M57.6162027,0 C89.4379748,0 115.232405,25.5169441 115.232405,56.9963904 C115.232405,88.4758365 89.4379748,113.99278 57.6162027,113.99278 C25.7944305,113.99278 0,88.4758365 0,56.9963904 C0,25.5169441 25.7944305,0 57.6162027,0 Z M319.837976,31.2229944 C333.383292,31.2229944 344.336203,42.7633211 344.336203,56.9963904 C344.336203,71.2294597 333.383292,82.7697862 319.837976,82.7697862 C313.507684,82.7697862 307.548377,80.2619964 303.107518,75.8438484 L302.792912,75.5250256 L302.792912,99.9520501 L302.78629,100.086383 C302.720596,100.750349 302.17407,101.290996 301.502883,101.355983 L301.367089,101.362534 L292.682532,101.362534 L292.546738,101.355983 C291.875552,101.290996 291.329026,100.750349 291.263332,100.086383 L291.25671,99.9520501 L291.25671,33.9157373 L291.263332,33.7814042 C291.329026,33.1174381 291.875552,32.5767911 292.546738,32.5118038 L292.682532,32.5052529 L301.367089,32.5052529 L301.502883,32.5118038 C302.17407,32.5767911 302.720596,33.1174381 302.78629,33.7814042 L302.792912,33.9157373 L302.792912,38.467755 C307.264811,33.8516243 313.421773,31.2229944 319.837976,31.2229944 Z M43.4875951,29.940736 C23.7205064,49.495178 30.0718988,84.2443835 30.0718988,84.2443835 C30.0718988,84.2443835 65.2637975,90.4633371 84.9660763,70.9730079 C95.9189876,60.1379236 95.5301267,42.1221917 84.0587343,30.8383169 C72.5873419,19.5544421 54.4405064,19.1056516 43.4875951,29.940736 Z M363.649621,12.6302462 L363.785415,12.6367971 C364.456601,12.7017844 365.003128,13.2424313 365.068822,13.9063975 L365.075444,14.0407305 L365.075444,38.467755 C369.547343,33.8516243 375.704305,31.2229944 382.120507,31.2229944 C395.665822,31.2229944 406.618737,42.7633211 406.618737,56.9963904 C406.618737,71.2294597 395.665822,82.7697862 382.120507,82.7697862 C375.790216,82.7697862 369.830909,80.2619964 365.39005,75.8438484 L365.075444,75.5250256 L365.075444,80.0770433 L365.068822,80.2113764 C365.003128,80.8753425 364.456601,81.4159893 363.785415,81.4809765 L363.649621,81.4875274 L354.965064,81.4875274 C354.233091,81.4875274 353.615937,80.9196069 353.545864,80.2113764 L353.539241,80.0770433 L353.539241,14.0407305 C353.539241,13.3166316 354.113338,12.7061169 354.82927,12.6367971 L354.965064,12.6302462 L363.649621,12.6302462 Z M438.570128,31.2229944 C453.217216,31.2229944 465.077468,42.7633211 465.077468,56.9963904 C465.077468,71.2294597 453.217216,82.7697862 438.570128,82.7697862 C423.92304,82.7697862 412.062784,71.2294597 412.062784,56.9963904 C412.062784,42.7633211 423.92304,31.2229944 438.570128,31.2229944 Z M249.324558,31.2229944 C255.654849,31.2229944 261.614156,33.7307841 266.055015,38.1489321 L266.369621,38.467755 L266.369621,33.9157373 L266.376243,33.7814042 C266.441937,33.1174381 266.988463,32.5767911 267.65965,32.5118038 L267.795444,32.5052529 L276.480001,32.5052529 C277.211974,32.5052529 277.829128,33.0731736 277.899201,33.7814042 L277.905823,33.9157373 L277.905823,80.0770433 L277.899201,80.2113764 C277.833507,80.8753425 277.286981,81.4159893 276.615795,81.4809765 L276.480001,81.4875274 L267.795444,81.4875274 L267.65965,81.4809765 C266.988463,81.4159893 266.441937,80.8753425 266.376243,80.2113764 L266.369621,80.0770433 L266.369621,75.5250256 C261.897722,80.1411562 255.74076,82.7697862 249.324558,82.7697862 C235.779241,82.7697862 224.82633,71.2294597 224.82633,56.9963904 C224.82633,42.7633211 235.779241,31.2229944 249.324558,31.2229944 Z M510.574178,32.44114 C510.833418,32.44114 511.092659,32.5052529 511.287091,32.6334788 C511.833924,32.994114 512.038989,33.7491939 511.742075,34.317617 L511.675951,34.4286407 L496.769623,56.8681643 L511.805572,79.5000268 C511.935192,79.7564786 512,80.0129305 512,80.2693819 C512,80.9305465 511.487344,81.4790127 510.83584,81.5449883 L510.703798,81.5516407 L500.787849,81.5516407 C500.069952,81.5516407 499.407277,81.2238681 499.003726,80.6691759 L498.908354,80.5258337 L489.964558,65.7798608 L481.020762,80.5258337 C480.661814,81.1176455 480.02675,81.490942 479.319473,81.5448704 L479.141267,81.5516407 L469.095698,81.5516407 C468.836457,81.5516407 468.577217,81.4875274 468.382785,81.3593017 C467.835951,80.9986665 467.630887,80.2435866 467.927801,79.6751634 L467.993924,79.5641397 L483.029877,56.9322771 L468.123544,34.4927536 C467.993924,34.3004148 467.929116,34.0439631 467.929116,33.7875114 C467.929116,33.1263469 468.441772,32.5778808 469.093276,32.5119053 L469.225318,32.5052529 L479.270887,32.5052529 C479.988784,32.5052529 480.651459,32.8330255 481.055011,33.3877176 L481.150382,33.5310597 L489.89975,48.0205807 L498.649114,33.4669468 C499.008062,32.8751352 499.643126,32.5018386 500.350403,32.4479103 L500.528608,32.44114 L510.574178,32.44114 Z M198.837469,31.2229944 C208.770167,31.2229944 216.86537,38.6819475 217.046031,48.0220135 L217.049115,48.3411454 L217.113925,80.0770433 L217.107303,80.2113764 C217.041609,80.8753425 216.495082,81.4159893 215.823896,81.4809765 L215.688102,81.4875274 L206.938735,81.4875274 C206.206761,81.4875274 205.589607,80.9196069 205.519534,80.2113764 L205.512912,80.0770433 L205.512912,51.8673562 C205.512912,45.9048543 200.911393,41.3528366 195.402532,41.3528366 C190.501266,41.3528366 186.475227,45.5582028 185.596205,51.0534504 L185.551393,51.3544529 L185.616203,80.0770433 L185.609581,80.2113764 C185.543887,80.8753425 184.997361,81.4159893 184.326174,81.4809765 L184.19038,81.4875274 L175.441013,81.4875274 C174.70904,81.4875274 174.091886,80.9196069 174.021812,80.2113764 L174.01519,80.0770433 L174.01519,51.8673562 C174.01519,45.9048543 169.413671,41.3528366 163.90481,41.3528366 C158.678954,41.3528366 154.393114,46.1263467 153.943588,52.137663 L153.924051,52.4443727 L153.924051,80.0770433 L153.917429,80.2113764 C153.851735,80.8753425 153.305209,81.4159893 152.634022,81.4809765 L152.498228,81.4875274 L143.813671,81.4875274 L143.677877,81.4809765 C143.006691,81.4159893 142.460164,80.8753425 142.394471,80.2113764 L142.387848,80.0770433 L142.387848,33.9157373 L142.394471,33.7814042 C142.460164,33.1174381 143.006691,32.5767911 143.677877,32.5118038 L143.813671,32.5052529 L152.498228,32.5052529 L152.634022,32.5118038 C153.305209,32.5767911 153.851735,33.1174381 153.917429,33.7814042 L153.924051,33.9157373 L153.924051,38.0189645 C157.034937,33.7875114 162.025317,31.2229944 167.339747,31.2229944 C174.144811,31.1588815 180.496203,34.8774311 183.671899,40.8399333 C186.458735,35.005657 192.356456,31.2871074 198.837469,31.2229944 Z M380.111393,41.5451752 C371.986031,41.5451752 365.439644,48.1680067 365.148425,56.4793878 L365.140254,56.8040514 L365.140254,57.188729 C365.205064,65.651635 371.880507,72.4476052 380.111393,72.4476052 C388.34228,72.4476052 395.082533,65.5234093 395.082533,56.9963904 C395.082533,48.4693711 388.407088,41.5451752 380.111393,41.5451752 Z M438.505316,41.5451752 C430.274433,41.5451752 423.53418,48.4693711 423.53418,56.9963904 C423.53418,65.5234093 430.209621,72.4476052 438.505316,72.4476052 C446.736203,72.4476052 453.476456,65.5234093 453.476456,56.9963904 C453.476456,48.4693711 446.736203,41.5451752 438.505316,41.5451752 Z M251.333672,41.5451752 C243.102785,41.5451752 236.362532,48.4693711 236.362532,56.9963904 C236.362532,65.5234093 243.037975,72.4476052 251.333672,72.4476052 C259.460369,72.4476052 266.070753,65.822596 266.299182,57.5092935 L266.304811,57.188729 L266.304811,56.8040514 C266.240001,48.3411454 259.564558,41.5451752 251.333672,41.5451752 Z M317.828862,41.5451752 C309.7035,41.5451752 303.157112,48.1680067 302.865893,56.4793878 L302.857722,56.8040514 L302.857722,57.188729 C302.922533,65.651635 309.597976,72.4476052 317.828862,72.4476052 C326.124558,72.4476052 332.800001,65.5234093 332.800001,56.9963904 C332.800001,48.4693711 326.124558,41.5451752 317.828862,41.5451752 Z M64.2268357,33.4028339 L69.8653166,44.8790474 L81.4663291,50.4568721 L69.8653166,56.0346963 L64.2268357,67.5109099 L58.5883544,56.0346963 L46.9873419,50.4568721 L58.5883544,44.8790474 L64.2268357,33.4028339 Z"
                                                        fill="#FFFFFF">

                                                    </path>
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="skill-box mx-3 mb-3" title="Resend">

                                            <svg viewBox="0 0 1800 1800" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M1000.46 450C1174.77 450 1278.43 553.669 1278.43 691.282C1278.43 828.896 1174.77 932.563 1000.46 932.563H912.382L1350 1350H1040.82L707.794 1033.48C683.944 1011.47 672.936 985.781 672.935 963.765C672.935 932.572 694.959 905.049 737.161 893.122L908.712 847.244C973.85 829.812 1018.81 779.353 1018.81 713.298C1018.8 632.567 952.745 585.78 871.095 585.78H450V450H1000.46Z"
                                                    fill="#FFFFFF" />
                                            </svg>

                                        </div>

                                    </div>
                                    <h5>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-geo-alt stack-icon" viewBox="0 0 16 16">
                                            <path
                                                d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                                            <path
                                                d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                        </svg>
                                        <i class="fas fa-map-marked-alt"></i> Geospatial & Communication
                                    </h5>
                                    <p class="text-white-50 small">
                                        <strong>MapBox:</strong> Enables interactive geocoding and map rendering.
                                        <br>
                                        <strong>Resend:</strong> Powers email deliveries for password resets and account
                                        email verifications.
                                    </p>
                                </div>
                            </div>
                            <div class="col">

                                <div class="card bg-dark text-white border-secondary h-100 p-3">
                                    <div class="row skills-container justify-content-center">
                                        <div class="skill-box mx-3 mb-3" title="Bootstrap V5">
                                            <svg viewBox="0 0 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                preserveAspectRatio="xMidYMid">
                                                <g>
                                                    <path
                                                        d="M0,222.991225 C0,241.223474 14.7785318,256 33.0087747,256 L222.991225,256 C241.223474,256 256,241.221468 256,222.991225 L256,33.0087747 C256,14.7765263 241.221468,0 222.991225,0 L33.0087747,0 C14.7765263,0 0,14.7785318 0,33.0087747 L0,222.991225 Z"
                                                        fill="#563D7C">

                                                    </path>
                                                    <path
                                                        d="M106.157563,113.238095 L106.157563,76.9845938 L138.069328,76.9845938 C141.108559,76.9845938 144.039202,77.2378593 146.861345,77.7443978 C149.683488,78.2509362 152.179961,79.1554557 154.35084,80.4579832 C156.52172,81.7605107 158.258397,83.5695496 159.560924,85.8851541 C160.863452,88.2007585 161.514706,91.1675823 161.514706,94.7857143 C161.514706,101.298352 159.560944,106.001853 155.653361,108.896359 C151.745779,111.790864 146.752832,113.238095 140.67437,113.238095 L106.157563,113.238095 L106.157563,113.238095 Z M72.07493,50.5 L72.07493,205.5 L147.186975,205.5 C154.133788,205.5 160.899594,204.631661 167.484594,202.894958 C174.069594,201.158255 179.93088,198.480877 185.068627,194.862745 C190.206375,191.244613 194.294803,186.577293 197.334034,180.860644 C200.373264,175.143996 201.892857,168.37819 201.892857,160.563025 C201.892857,150.866431 199.541107,142.581033 194.837535,135.706583 C190.133963,128.832132 183.00635,124.020088 173.454482,121.270308 C180.401295,117.941627 185.647508,113.672295 189.193277,108.462185 C192.739047,103.252075 194.511905,96.7395349 194.511905,88.9243697 C194.511905,81.6881057 193.317939,75.6097352 190.929972,70.6890756 C188.542005,65.7684161 185.177193,61.8247114 180.835434,58.8578431 C176.493676,55.8909749 171.283644,53.756309 165.205182,52.4537815 C159.12672,51.151254 152.397096,50.5 145.016106,50.5 L72.07493,50.5 L72.07493,50.5 Z M106.157563,179.015406 L106.157563,136.466387 L143.279412,136.466387 C150.660401,136.466387 156.594049,138.166883 161.080532,141.567927 C165.567016,144.968971 167.810224,150.649353 167.810224,158.609244 C167.810224,162.661552 167.122789,165.990183 165.747899,168.595238 C164.373009,171.200293 162.527789,173.262597 160.212185,174.782213 C157.89658,176.301828 155.219203,177.387252 152.179972,178.038515 C149.140741,178.689779 145.956833,179.015406 142.628151,179.015406 L106.157563,179.015406 L106.157563,179.015406 Z"
                                                        fill="#FFFFFF">

                                                    </path>
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="skill-box mx-3 mb-3" title="EJS">

                                            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M2,17.672V14.328l11.86-6.2V11.2L5.1,15.939l8.762,4.835v3.1Zm27.814-8.88L19.465,23.229H15.912L26.281,8.791ZM26.947,21.5a.794.794,0,0,0,.619-.278,1.061,1.061,0,0,0,.248-.732,1.141,1.141,0,0,0-.248-.753.768.768,0,0,0-1.217,0,1.141,1.141,0,0,0-.248.753,1.09,1.09,0,0,0,.237.732A.763.763,0,0,0,26.947,21.5Zm2.186,1.042a3.237,3.237,0,0,1-4.352-.01,2.864,2.864,0,0,1,0-4.1,3.223,3.223,0,0,1,4.352,0A2.773,2.773,0,0,1,30,20.486,2.74,2.74,0,0,1,29.134,22.538ZM18.821,13.061a.794.794,0,0,0,.619-.278,1.061,1.061,0,0,0,.248-.732,1.141,1.141,0,0,0-.248-.753.769.769,0,0,0-1.217,0,1.141,1.141,0,0,0-.248.753,1.09,1.09,0,0,0,.237.732A.763.763,0,0,0,18.821,13.061ZM21.007,14.1a3.237,3.237,0,0,1-4.352-.01,2.864,2.864,0,0,1,0-4.1,3.223,3.223,0,0,1,4.352,0,2.773,2.773,0,0,1,.866,2.063A2.74,2.74,0,0,1,21.007,14.1Z"
                                                    style="fill:#90a93a" />
                                            </svg>
                                        </div>

                                    </div>
                                    <h5>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-file-code stack-icon" viewBox="0 0 16 16">
                                            <path
                                                d="M6.646 5.646a.5.5 0 1 1 .708.708L5.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708zm2.708 0a.5.5 0 1 0-.708.708L10.293 8 8.646 9.646a.5.5 0 0 0 .708.708l2-2a.5.5 0 0 0 0-.708z" />
                                            <path
                                                d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1" />
                                        </svg>
                                        <i class="fas fa-map-marked-alt"></i> Client-Side Frontend
                                    </h5>
                                    <p class="text-white-50 small">
                                        <strong>EJS</strong>: Server-side view engine which creates and delivers dynamic
                                        page templates to the client.
                                        <br>
                                        <strong>Bootstrap</strong>: Used to design responsive and mobile-first web
                                        pages.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 mb-4 challenges-solutions indent-paragraphs">
                        <h3 class="fw-bold">Challenges & Solutions</h3>
                        <p class="lead text-start">
                            After completing the course, I couldn't move on from this project until I felt like some
                            minimal production features were implemented: Google OAuth, a password reset system, an
                            email verification
                            system, a campground search system, and asynchronous pagination loading for large sets of
                            data (for campgrounds and campground reviews).
                        </p>
                        <section>
                            <h4>Secure Account Management</h4>
                            <div class="lead text-start">
                                <p>
                                    Implementing a password reset and email verification system was the biggest
                                    challenge in this project. User data and account security is something I take very
                                    seriously so I felt compelled to do a lot of research before jumping into making
                                    these features.
                                    The process in this project goes like this: I generate raw token IDs for each
                                    request, store its SHA256 hash in a database, and set expiration timestamps for the
                                    tokens. Each type of request has rate-limits implemented as well to mitigate
                                    suspicious activity. The raw token links are then emailed to the user, which we
                                    circle back to the server and hash again to find the matching token. An issue I ran
                                    into was actually emailing these
                                    URLs to the users.

                                </p>
                                <p>
                                    At first, I tried to send the email directly from the server
                                    but during testing I found that all these emails were being flagged as spam by most
                                    of email service providers. After a lot of trial and error I ended up resorting to
                                    using a transactional email service provider called Resend to send genuine emails
                                    that pass spam filters.
                                </p>
                            </div>
                        </section>
                        <section>
                            <h4>Fuzzy Search Implementation</h4>
                            <div class="lead text-start">
                                <p>
                                    I didn't want to end the project without adding a search feature to the campground
                                    index page. I wasn't sure how to implement a "fuzzy" search query into a database.
                                    The user might not always spell terms correctly or even know the perfect keywords to
                                    use for their search. Luckily after doing some research, I found that <a
                                        class="text-decoration-none text-info"
                                        href="https://www.mongodb.com/docs/manual/core/indexes/index-types/index-text/">
                                        MongoDB has native
                                        text indexing features
                                    </a> to do a "fuzzy search." I leveraged this to query fuzzy searches for a nice
                                    search UX.
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 mb-4 indent-paragraphs">
                        <h3 class="fw-bold">My Dev Journey</h3>
                        <p class="lead text-start">
                            I've been a professional software engineer for the last 11 years: seven years in videogame
                            industry and four years in desktop application development before that. Software engineering
                            has always been a big passion of mine and I've been solving very
                            difficult problems from solving software issues running on proprietary console hardware
                            with little to no documentation, figuring out ways to run libraries externally that would
                            otherwise slowdown an application internally, dynamically optimizing ThreeJS scenes to reuse
                            shared assets, and solving difficult or quirky physics and networking issues in videogames.
                            Now I feel like it's time to grow my technical skills and move into enterprise fullstack
                            engineering.
                        </p>
                        <p class="lead text-start">
                            Fullstack software engineering seems like a natural next step for me to move into because
                            it's a space that I'm very curious about and I'm always happy to grow and apply my technical
                            skills.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 mb-4 indent-paragraphs">
                        <h3 class="fw-bold mb-4">Interested in the Source Code?</h3>
                        <div class="mb-4">
                            <svg class="git-svg" viewBox="0 -3.1 2490.3 2493" xmlns="http://www.w3.org/2000/svg">
                                <ellipse cx="1245.2" cy="1243.4" fill="#fff" rx="1217.6" ry="1246.5" />
                                <path
                                    d="m1245.2 1.6c-687.6 0-1245.2 557.4-1245.2 1245.1 0 550.2 356.8 1016.9 851.5 1181.5 62.2 11.5 85.1-27 85.1-59.9 0-29.7-1.2-127.8-1.7-231.8-346.4 75.3-419.5-146.9-419.5-146.9-56.6-143.9-138.3-182.2-138.3-182.2-113-77.3 8.5-75.7 8.5-75.7 125 8.8 190.9 128.3 190.9 128.3 111.1 190.4 291.3 135.3 362.3 103.5 11.2-80.5 43.4-135.4 79.1-166.5-276.6-31.5-567.3-138.3-567.3-615.4 0-135.9 48.6-247 128.3-334.2-12.9-31.3-55.5-157.9 12.1-329.4 0 0 104.6-33.5 342.5 127.6 99.3-27.6 205.8-41.4 311.7-41.9 105.8.5 212.4 14.3 311.9 41.9 237.7-161.1 342.1-127.6 342.1-127.6 67.8 171.5 25.1 298.2 12.2 329.5 79.8 87.2 128.1 198.3 128.1 334.2 0 478.2-291.3 583.6-568.6 614.4 44.7 38.6 84.5 114.4 84.5 230.6 0 166.6-1.4 300.7-1.4 341.7 0 33.1 22.4 72 85.5 59.7 494.5-164.8 850.8-631.4 850.8-1181.4 0-687.7-557.5-1245.1-1245.1-1245.1"
                                    fill="#5c6bc0" />
                            </svg>
                        </div>
                        <a href="https://github.com/kirbyderby2000/yelpcamp" class="btn btn-primary btn-lg fw-bold">See
                            the Source Code on GitHub</a>
                    </div>
                </div>
            </div>

        </main>

        <footer class="mt-auto text-white-50 small">
            YelpCamp 2026 &copy; Made in Los Angeles by Bryan Ayala
        </footer>
    </div>

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/homepage.js"></script>
</body>

</html>